body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont;
  font-size: 16px;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #f2f2f2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* height: 100vh; */
  color: #022449;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka One", cursive;
  font-weight: 400;
  display: block;
  color: black;
}

.container-fluid {
  width: 75%;
  /* height: 80vh; */
  margin-top: 70px;
}

.row {
  border-radius: 15px;
  min-height: 70vh;
}

form {
  width: 80%;
  margin: auto;
  margin-top: 150px;
}

div #main_form {
  width: 90%;
  display: inline;
  padding: 30px;
}

/* used flex-box align */
#secondaryLogin {
  background-color: teal;
  padding: 20px;
  color: white;
  /* padding-top: 60px; */
  line-height: 2em;
  /* vertical-align: middle; */
  text-align: center;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 2px solid #f27d42;
  border-radius: 10px 0px 0px 10px;
}

#primaryLogin {
  background-color: white;
  padding: 20px;
  padding-top: 20px;
  color: black;
  text-align: center;

  border-radius: 0px 10px 10px 0px;
}

.loginHeader {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: teal;
  padding: 10px;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  border-left: 4px solid teal;
  background-image: linear-gradient(to left, #f4f4f4, #fff);
}

.welcomeHeader {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: white;
}

.inputFields {
  display: block;
  margin-top: 10px;
}

input {
  width: 50%;
  /* margin: auto; */
  margin-top: 10px;
  padding: 15px;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  background-color: #fff;
}

input:focus {
  border: none;
  outline: none;
  border: 2px solid teal;
  border-radius: 5px;
}

button {
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  border: 2px solid #f27d42;
  background-color: #f27d42;
  color: white;
  margin-bottom: 30px;
  transition: 0.2s;
}

button:hover {
  background-color: teal;
  border: 2px solid teal;
  color: #fff;
}

.shapeDivider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shapeDivider svg {
  position: relative;
  display: block;
  width: calc(157% + 1.3px);
  height: 150px;
  margin-top: -px;
}

.shapeDivider .shape-fill {
  fill: teal;
}
.shapeDivider {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

/* mobile view media query */
@media (max-width: 575.98px) {
  body {
    font-size: 6vw;
  }
  #secondaryLogin {
    border-radius: 0;
    border-right: 0;
    height: 30vh;
  }
  #primaryLogin {
    height: 30vh;
    border-radius: 0;
  }
  form {
    margin-top: 0;
    width: 100%;
  }
  body {
    background-color: white;
  }
  input,
  button {
    width: 80%;
  }
  .loginHeader,
  .welcomeHeader {
    font-size: 10vw;
  }
}

@media (min-width: 575.98px) {
  .shapeDivider {
    display: none;
  }
}

/* media for bigger phones to mini laptops/tablets */
@media (min-width: 576px) and (max-width: 991.98px) {
  #secondaryLogin {
    border-radius: 0;
    border-right: 0;
    height: 30vh;
  }
  form {
    margin-top: 100px;
  }
}
